# Configurações do Backend
SECRET_KEY=django-insecure-change-me-in-production
DEBUG=True
MONGODB_URL=mongodb://admin:password123@mongodb:27017/bgcreator?authSource=admin

# Configurações do Frontend  
API_URL=http://backend:8000

# Configurações do MongoDB
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=password123
MONGO_INITDB_DATABASE=bgcreator